<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>{{page.title}} | {{site.title}}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{{site.baseurl}}/assets/img/favicon.png" rel="icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/apple-touch-icon.png" >
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/img/site.webmanifest">
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{{site.baseurl}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/vendor/aos/aos.css" rel="stylesheet">
  
    <!-- Template Main CSS Files -->
    <link href="{{site.baseurl}}/assets/css/variables.css" rel="stylesheet">
    <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet">

    <!-- Load KaTeX -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
  
    <!-- Connect with Mirosoft Clarity for site analytics -->
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "esy1ng7ec1");
    </script>

    <!-- Script for social share -->
    <script type="text/javascript">
      // Display social share window
      function showSocialShare(url){
          window.open(url,'Share Post','toolbar=1,status=0,left=20,right=20,width=500,height=500');
          return false;
      }
      function copyText(textToCopy){
        navigator.clipboard.writeText(textToCopy);
        alert('Link copied to clipboard');
        return false;
      }
    </script>
    
    {% seo %}
    <!-- =======================================================
    * Template Name: ZenBlog - v1.2.0 from bootstrapmade.com 
    ======================================================== -->
  </head>
  