{% assign post = include.post | default: page %}
{% assign p_url = post.url | absolute_url | url_encode %}
{% assign p_title = post.title | url_encode %}
<div class="social-links  mb-3 mb-lg-0 text-center text-md-end" >
Share on:
    <a href="javascript:void(0)" class="twitter mx-1" title="Share on Twitter"
       onclick="javascript:showSocialShare('https://twitter.com/intent/tweet?{% if site.social.handles.twitter %}via={{ site.social.handles.twitter | url_encode }}&{% endif %}text={{p_title}}&url={{p_url}}')"
       ><i class="bi bi-twitter"></i></a>
    <a href="javascript:void(0)" class="twitter mx-1" title="Share on LinkedIn" 
       onclick="javascript:showSocialShare('https://www.linkedin.com/sharing/share-offsite/?url={{p_url}}')"
    class="mx-1"><i class="bi bi-linkedin"></i></a>
</div>